---
---

@import "{{ site.theme }}";

.page-header { 
  color: #000000;
  text-align: center;
  background-image: url("../images/header.png");
  background-size: 150% 100%;
  background-color: white; }

.main-content h1, .main-content h2, .main-content h3 { 
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: normal;
  color: #000000; }
